.navbar{
  height:70px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 30px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(20px);
  border-bottom:1px solid rgba(255,255,255,0.1);
}

/* TITLE */

.nav-title{
  font-size:20px;
  font-weight:500;
}

/* RIGHT SECTION */

.nav-right{
  display:flex;
  align-items:center;
  gap:25px;
}

/* ICON */

.icon{
  position:relative;
  cursor:pointer;
  font-size:20px;
}

.badge{
  position:absolute;
  top:-5px;
  right:-8px;
  background:#ef4444;
  color:white;
  font-size:10px;
  padding:2px 6px;
  border-radius:50%;
}

/* PROFILE */

.profile{
  display:flex;
  align-items:center;
  gap:8px;
  cursor:pointer;
}

.navbar{
  height:70px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 30px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(20px);
  border-bottom:1px solid rgba(255,255,255,0.1);
}

/* TITLE */

.nav-title{
  font-size:20px;
  font-weight:500;
}

/* RIGHT SECTION */

.nav-right{
  display:flex;
  align-items:center;
  gap:25px;
}

/* ICON */

.icon{
  position:relative;
  cursor:pointer;
  font-size:20px;
}

.badge{
  position:absolute;
  top:-5px;
  right:-8px;
  background:#ef4444;
  color:white;
  font-size:10px;
  padding:2px 6px;
  border-radius:50%;
}

/* PROFILE */

.profile{
  display:flex;
  align-items:center;
  gap:8px;
  cursor:pointer;
}